@import "bootstrap-sprockets";
@import "bootstrap";
@import "syntax";

.header {
  margin-bottom: 20px;

  .header-title {
    margin-top: 10px;
    margin-bottom: 0px;

    h1 {
      font-size: 24px;
      height: 30px;
      margin: 0px;
    }
  }

  .header-menu {
    margin-top: 10px;
    margin-bottom: 0px;
  }
}

.header-title-prefix {
  font-weight: normal;
}

.post {
  .post-description {
    margin-bottom: 20px;
  }

  .panel-body {
    padding: 0px;
  }

  .post-entry-content {
    background-color: #ffffff;
    margin: 0px;
    border: 0;
  }
}

.post-form-description {
  background-color: #fafafa;
  margin-bottom: 26px;

  &:focus {
    background-color: #ffffff;
  }
}

.entry-form {
  border-radius-top-left:     4px;
  border-radius-top-right:    4px;
  border-radius-bottom-right: 0px;
  border-radius-bottom-left:  0px;

  .panel-heading {
    padding: 5px;
  }

  .panel-body {
    padding: 0px;
  }

  textarea {
    border-width: 0px;
    border-radius: 0px;
    box-shadow: inherit;
  }
}
